@model ChatCrypto.WebUI.Models.Account

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>Kayıt Ol</title>

    <!-- Site favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/Context/mekasoftware/180x180-M.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Context/mekasoftware/32x32-M.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Context/mekasoftware/16x16-M.PNG">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/Context/Admin/vendors/styles/core.css">
    <link rel="stylesheet" type="text/css" href="~/Context/Admin/vendors/styles/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/Context/Admin/vendors/styles/style.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-119386393-1');
    </script>
</head>
<body class="login-page">
    <div class="login-header box-shadow">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <div class="brand-logo">
                <a href="login.html">
                    <img src="~/Context/mekasoftware/MiniLogo.png" alt="MekaSoftware">
                </a>
            </div>
            <div class="login-menu">
                <ul>
                    <li><a href="/" target="_blank"><img src="~/Content/Site/images/doybox_logo-2.png" width="200" /></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="login-wrap d-flex align-items-center flex-wrap justify-content-center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-7">
                    <img src="~/Context/Admin/vendors/images/login-page-img.png" alt="MEKASOFTWARE">
                </div>
                <div class="col-md-6 col-lg-5">
                    <div class="login-box bg-white box-shadow border-radius-10">
                        <div class="login-title">
                            <h2 class="text-center text-primary">Kayıt Ol</h2>
                        </div>
                        @using (Html.BeginForm("Register", "Register", FormMethod.Post, new { enctype = "multipart/form-data" }))

                        {
                            @Html.AntiForgeryToken()




                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="input-group custom">
                                <input type="text" name="Username" class="form-control form-control-lg" placeholder="Kullanıcı Adı">
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                <div class="input-group-append custom">
                                    <span class="input-group-text"><i class="icon-copy dw dw-user1"></i></span>
                                </div>
                            </div>
                            <div class="input-group custom">
                                <input type="text" name="Password" class="form-control form-control-lg" placeholder="Password">
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                <div class="input-group-append custom">
                                    <span class="input-group-text"><i class="icon-copy dw dw-user1"></i></span>
                                </div>
                            </div>
                            <div class="input-group custom">
                                <input type="text" name="Email" class="form-control form-control-lg" placeholder="E-mail">
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                <div class="input-group-append custom">
                                    <span class="input-group-text"><i class="icon-copy dw dw-user1"></i></span>
                                </div>
                            </div>
                            <div class="input-group custom">
                                <select class="custom-select2 form-control" name="Gender" style="width: 100%; height: 38px;">
                                    <optgroup label="Lütfen Cinsiyet Seçiniz">
                                        <option value="True">Erkek</option>
                                        <option value="False">Kadın</option>
                                    </optgroup>
                                </select>
                                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                <div class="input-group-append custom">
                                    <span class="input-group-text"><i class="icon-copy dw dw-user1"></i></span>
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input-group mb-0">
                                     <button class="btn btn-primary btn-lg btn-block" type="submit">Kayıt Ol</button>
                                    </div>

                                </div>
                            </div>

                        }

                        <div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Context/Admin/vendors/scripts/core.js"></script>
    <script src="~/Context/Admin/vendors/scripts/script.min.js"></script>
    <script src="~/Context/Admin/vendors/scripts/process.js"></script>
    <script src="~/Context/Admin/vendors/scripts/layout-settings.js"></script>
</body>
</html>
